<div class="extented">
    <div class="extended__container">
      <div class="exten">
        <p class="extension">Graphic Design</p>
        <p class="text">
          Creating visually engaging designs for branding, print materials, social
          media, and more.
        </p>
      </div>
      <hr />
      <div class="exten">
        <p class="extension">UI/UX Design</p>
        <p class="text">
          Designing intuitive user interfaces and enhancing user experiences for
          digital products.
        </p>
      </div>
      <hr />
      <div class="exten">
        <p class="extension">Illustration</p>
        <p class="text">
          Incorporating custom illustrations to add a personalized touch to
          projects.
        </p>
      </div>
    </div>
  </div>
  