.body {
    height: 100%;
}

a {
    font-family: "Archivo", sans-serif;
    color: #a3a3a3;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.header {
    height: 100%;
    background: #0a0a0a;
    padding: 16px 0;
    border-right: 0.2px solid rgb(32, 32, 23);
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.header__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    gap: 16px;
}

.mid__nav li {
    font-family: "Archivo", sans-serif;
    color: #a3a3a3;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
}

.btn {
    width: 120px;
    height: 36px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.hero {
    overflow: hidden;
    height: 100dvh;
    background: url(../../asset/portpic.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 15% 85%);
}

.hero__container {
    height: 100dvh;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 24px;
    color: #E4F51F;
    padding: 12px 12px;
    border-radius: 100px;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 16px;
}

.port__desc {
    font-size: 16px;
    width: 100%;
    color: #DCF2D2;
    border-radius: 100px;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 180%;
}

.hero__card {
    height: 380px;
}

.hero__cardd {
    margin-top: 450px;
    margin-left: -300px;
    padding: 16px;
    height: 150px;
    width: 500px;
    background: #040404;
    border-radius: 24px;
    backdrop-filter: blur(20px);
}

p {
    font-size: 194px;
    color: #f8f8f8;
    line-height: 75%;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.hero__btn {
    font-size: 16px;
    color: #f6ff91;
    transform: 5s;
}

.hero__btn:hover {
    color: #E4F51F;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: 5s;
}

.hero__cardTwo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.logo {
    color: white;
}