.body {
  height: 100%;
}

a {
  font-family: "Archivo", sans-serif;
  color: #a3a3a3;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  height: 100%;
  background: #0a0a0a;
  padding: 16px 0;
  border-right: 0.2px solid rgb(32, 32, 23);
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.header__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 8px;
}

.mid__nav li {
  font-family: "Archivo", sans-serif;
  color: #a3a3a3;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

.btn {
  width: 120px;
  height: 36px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.hero {
  overflow: hidden;
  height: 100%;
  background: url(../../asset/portlanding.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: #0a0a0a; */
  display: grid;
  grid-template-columns: repeat(2, 15% 85%);
}

.hero__container {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.name {
  font-size: 24px;
  color: var(--gold);
  /* border: 0.4px solid #181616; */
  /* width: 180px; */
  padding: 12px 12px;
  border-radius: 100px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 16px;
}

.port__desc {
  font-size: 16px;
  width: 100%;
  color: #dcf2d2;
  border-radius: 100px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 180%;
}

.hero__card {
  /* height: 100%; */
  /* width: 640px; */
}

.hero__cardd {
  margin-top: 466px;
  margin-left: -250px;
  padding: 16px;
  height: 180px;
  width: 400px;
  background: #040404;
  border-radius: 24px;
  backdrop-filter: blur(20px);
}

p {
  font-size: 158px;
  color: #f8f8f8;
  line-height: 75%;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hero__btn {
  font-size: 16px;
  color: #d3f350;
  transform: 5s;
}

.hero__btn:hover {
  color: var(--gold);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: 5s;
}

.hero__cardTwo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 80%;
  margin: auto;
}

.logo {
  color: white;
}

.about {
  /* color: #e4f51f; */
  color: var(--gold);
}

.about:hover,
.expertise:hover,
.project:hover,
.resume:hover {
  color: var(--gold) !important;
  text-decoration: underline;
}


@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;

  }
}

@media screen and (max-width: 820px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .port__desc {
    font-size: 19px;
  }
  .hero__cardd {
    margin-top: 626px;
    margin-left: -250px;
    padding: 16px;
    height: 270px;
    width: 400px;
    background: #0d0b0b;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .proj__desc .hero__cardd {
    padding: 16px;
    height: 276px;
  }

  .port__desc {
    font-size: 19px;
  }
  .hero__cardd {
    margin-top: 536px;
    margin-left: -250px;
    padding: 16px;
    height: 270px;
    width: 400px;
    background: #0d0b0b;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
}

@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 84px;
  }

  .name {
    font-size: 24px;
  }
}
