
<div class="hero">
    <div class="header">
      <div class="header__container">
        <div class="logo">
          <img src="../../asset/logo.png" alt="" style="width: 60px;"/>
        </div>
        <div class="mid__nav">
          <li class="about" (click)="onConnect()" >About</li>
          <li class="expertise" (click)="onExpertise()" >Expertise</li>
          <li class="project" (click)="onProject()" >Projects</li>
          <li class="resume" (click)="onResume()" >Resume</li>
          <li class="contact">Contact Me</li>
        </div>
      </div>
    </div>
    <div class="hero__container">
      <div class="hero__card">
        <div class="name">Ayokanmi Samuel</div>
        <p>
          Product <br />
          Designer
        </p>
      </div>
      <div class="hero__cardd">
        <div class="hero__cardTwo">
          <p class="port__desc">
            Creates intuitive and visually appealing experiences. Designs for
            usability without compromising aesthetics. Harmonizes functionality
            with user delight.
          </p>
          <div>
            <p class="hero__btn">Let's Connect</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

