.contact-container {
  /* max-width: 600px; */
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 30px;
  /* background-color: #1d1d1d; */
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.contact__section{
  height: 100vh;
  width: 100vw;
  background-color: #1d1d1d;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #ff6f61;
}

header p {
  font-size: 1.1rem;
  color: #b0b0b0;
  margin-bottom: 25px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 15px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-method i {
  font-size: 17px;
  font-family: "Archivo", sans-serif;
font-weight: 200;
  /* margin-right: 15px; */
}

.contact-method:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.contact-method span {
  font-weight: 600;
  /* text-transform: uppercase; */
}

.whatsapp, .email, .linkedin{
  background-color: #dfdee3;
  color: var(--gold);
}

/* Copied css from about section */

.about__section {
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__container {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.nav__bar {
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  box-shadow: -7px -6px 244px 5px rgba(31,27,202,0.75);
-webkit-box-shadow: -7px -6px 244px 5px rgba(31,27,202,0.75);
-moz-box-shadow: -7px -6px 244px 5px rgba(31,27,202,0.75);
}
.about__card {
  background: #181717;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  margin-top: 10%;
}
.about__cardd {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  /* background: yellow; */
}
.about__title {
  font-size: 24px;
  font-weight: 300;
  color: #565454;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  padding-bottom: 10px;
}
.description {
  font-size: 50px;
  color: #efefef;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 108%;
}
.about__cardContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /* padding-top: 55px; */
}
.about__bottomcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}
.about__bottom {
  width: 100%;
  height: 300px;
  background: #3827c7;
  /* padding-left: 42px;
  padding-top: 56px; */
  padding: 32px 72px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact {
  color: var(--black) !important;
  font-weight: 600;
  background: #f9f9f9;
  padding: 12px 18px;
  border-radius: 100px;
}
.experience {
  font-size: 25px;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: var(--white);
  padding-bottom: 4px;
}
.exp__text {
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 150%;
  color: var(--white);
}
.about__cardCont {
  width: 80%;
  margin: auto;
}
.skill__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.skill__list p {
  font-size: 30px;
  font-weight: 200;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #a3a3a3;
}
hr{
  color: #6e6e73 !important;
  opacity: 0.1;
}
.skill__title {
  font-size: 54px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #6e6e73;
  padding-bottom: 30px;
}
.prod {
  color: #6e6e73;
  font-weight: 300;
}
.inter {
  font-size: 24px;
  color: #4c4453;
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #C4C4C4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}
.expertise{
  width: 100vw;
}

/* Responsive design */
@media (min-width: 768px) {
  .contact-methods {
    flex-direction: row;
    gap: 12px;
    /* justify-content: space-between; */
  }
}
