<div class="marquee-wrapper">
    <om-marquee>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 1
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 2
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 3
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 4
            </p>
        </div>
    </om-marquee>

    <om-marquee [reverse]="true">
        <div class="card" #OmMarqueeContent>
            <p>
                Card 1
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 2
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 3
            </p>
        </div>
        <div class="card" #OmMarqueeContent>
            <p>
                Card 4
            </p>
        </div>
    </om-marquee>

    <div class="marquee-gradient left">
    </div>
    <div class="marquee-gradient right">
    </div>
</div>