.expert__section {
    height: 100%;
    background: #040000;
    padding: 40px 0;
    font-family: "Archivo", sans-serif;
  
  }
  .expert__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .expertise {
    color: var(--gold) !important;
  }
  /* .nav__bar{
      padding-bottom: 35px;
  } */
  .nav__bar {
    background: white;
    padding: 20px 32px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    position: fixed;
  }
  .expert__top {
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10%;
  }
  .visual__text {
    width: 80%;
    padding: 0 40px;
    padding-left: 30px;
    font-size: 30px;
    color: var(--black);
    font-weight: 100;
    line-height: 128%;
  }
  .expert__bottom {
    height: 500px;
    width: 100%;
    background: url(../../asset/motionn.svg);
    background-size: cover space;
    background-repeat: no-repeat;
  }
  .visual {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: var(--gold);
    height: 500px;
    width: 100%;
  }
  .interaction {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    padding-left: 30px;

  }
  .vis {
    font-size: 74px;
    font-weight: 600;
    line-height: 85%;
    color: var(--black);
    padding: 40px;
  }
  .inter {
    font-size: 74px;
    font-weight: 600;
    line-height: 85%;
    color: #171717;
    padding: 40px;
  }
  .mot {
    font-size: 74px;
    font-weight: 600;
    line-height: 85%;
    color: #ebebeb;
    padding: 40px;
  }
  
  ul {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  
  ul li {
      list-style: none;
      color: var(--black);
      font-family: "Archivo", sans-serif;
      font-size: 16px;
      font-weight: 400;
  }
  ul li:hover {
      cursor: pointer;
      color: var(--gold);
  }
  