<div class="expert">
    <div class="expert__container">
        <div class="expert__top">
            <div class="visual">
                <p class="vis">Visual <br> Hierarchy</p>
            </div>
            <div class="interaction">
               <p class="inter">Interaction <br> Design</p> 
            </div>
        </div>
        <div class="expert__bottom">
            <div class="motion">
                <p class="mot">Motion <br> Design</p>
            </div>
        </div>
    </div>
</div>
<div class="extend">
    <app-extented></app-extented>
</div>
