<div class="project__section">
    <div class="project__container">
      <div class="nav__bar">
        <ul>
          <li class="home" (click)="onHome()">Home</li>
          <li class="about" (click)="onConnect()">About</li>
          <!-- <li class="expertise" (click)="onExpertise()">Expertise</li> -->
          <li class="project" (click)="onProject()">Projects</li>
          <li class="resume" (click)="onResume()">Resume</li>
          <li class="contact" (click)="onContact()">Contact Me</li>
        </ul>
      </div>
      <div class="project__hero">
        <div class="project__top">
          <!-- <h1 class="project__title">Project Collection</h1> -->
          <p class="project__description">
            Project Collections: Explore my project collections, <span> where creativity
              meets innovation and passion ignites excellence.</span>
          </p>
          <p class="project__paragraph">
            Dive into a curated selection of my most captivating and impactful
            projects, showcasing my expertise, craftsmanship, and dedication to
            excellence. 
          </p>
          <!-- <p> From stunning web designs to cutting-edge app/web
            developments, each project in my collection tells a unique story of
            collaboration, innovation, and success.</p> -->
        </div>
        <!-- <hr /> -->
        <!-- Project One -->
         <div class="project__grid">
           <div class="project__mid">
             <div class="project__mid__bottomm"></div>
             <div class="project__mid__top">
              <div class="mid__top">
                <!-- <div class="project__number">01</div> -->
                <div class="project__heading">Vaccination Appointment Platform</div>
              </div>
              <div class="project__text">
                The Certified Transformational Leadership Training is an intensive
                program designed to equip current and aspiring leaders with the
                skills, knowledge, and mindset necessary to drive meaningful change
                within their organizations, redemptive communities, and God-given
                mandate. This training program emphasizes the development of leaders
                who are not only capable of guiding teams, missions and
                organizations but also inspiring and empowering individuals to
                achieve their fullest potential.
              </div>
              <div class="btn__link">
                <div class="link__one">
                  <a target="_blank" href="https://menofissacharvision.com/mli">
                    Live Preview
                  </a>
                </div>
                <!-- <div class="link__two">Case Study</div> -->
              </div>
            </div>
          </div>
          <!-- Project Two -->
          <div class="project__mid">
            <div class="project__mid__bottomTwo"></div>
            <div class="project__mid__top">
              <div class="mid__top">
                <!-- <div class="project__number">02</div> -->
                <div class="project__heading">Custom Wedding Website</div>
              </div>
              <div class="project__text">
                This case study explores the creation of a bespoke wedding website
                designed to capture the unique love story of Rebecca & Ayokanmi. The
                website serves as a central hub for wedding details, guest
                information, RSVP management, and personalized content, offering a
                seamless and memorable experience for the couple and their guests.
              </div>
              <div class="btn__link">
                <div class="link__one">
                  <a target="_blank" href="https://www.special24.com.ng/">
                    Live Preview
                  </a>
                </div>
                <div class="link__two">Case Study</div>
              </div>
            </div>
          </div>
         </div>
        
         <div class="project__grid">
          <div class="project__mid">
            <div class="project__mid__bottom"></div>
            <div class="project__mid__top">
             <div class="mid__top">
               <!-- <div class="project__number">03</div> -->
               <div class="project__heading">MIV Leadership Institute</div>
             </div>
             <div class="project__text">
               The Certified Transformational Leadership Training is an intensive
               program designed to equip current and aspiring leaders with the
               skills, knowledge, and mindset necessary to drive meaningful change
               within their organizations, redemptive communities, and God-given
               mandate. This training program emphasizes the development of leaders
               who are not only capable of guiding teams, missions and
               organizations but also inspiring and empowering individuals to
               achieve their fullest potential.
             </div>
             <div class="btn__link">
               <div class="link__one">
                 <a target="_blank" href="https://menofissacharvision.com/mli">
                   Live Preview
                 </a>
               </div>
               <!-- <div class="link__two">Case Study</div> -->
             </div>
           </div>
         </div>
         <!-- Project Two -->
         <div class="project__mid">
           <div class="project__mid__bottomTwo"></div>
           <div class="project__mid__top">
             <div class="mid__top">
               <!-- <div class="project__number">04  </div> -->
               <div class="project__heading">Custom Wedding Website</div>
             </div>
             <div class="project__text">
               This case study explores the creation of a bespoke wedding website
               designed to capture the unique love story of Rebecca & Ayokanmi. The
               website serves as a central hub for wedding details, guest
               information, RSVP management, and personalized content, offering a
               seamless and memorable experience for the couple and their guests.
             </div>
             <div class="btn__link">
               <div class="link__one">
                 <a target="_blank" href="https://www.special24.com.ng/">
                   Live Preview
                 </a>
               </div>
               <div class="link__two">Case Study</div>
             </div>
           </div>
         </div>
        </div>
      </div>
       
    </div>
     <!-- Scrolling Projects -->
     <div class="marquee-wrapper">
      <om-marquee>
          <div class="card1" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
              <!-- <p>Case Study</p> -->
            </div>
          </div>
          <div class="card2" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
          <div class="card3" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
          <div class="card4" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
      </om-marquee>
  
      <om-marquee [reverse]="true">
          <div class="card5" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
          <div class="card6" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
          <div class="card7" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
          <div class="card8" #OmMarqueeContent>
            <div class="card__guide">
              <p class="project__cover1">
                <!-- Live Preview -->
              </p>
            </div>
          </div>
      </om-marquee>
  
      <div class="marquee-gradient left">
      </div>
      <div class="marquee-gradient right">
      </div>
    </div>
    
    <div class="view">
      <div class="view__btn" (click)="allProjects()">View All Projects</div>
    </div>
</div>
  