<div class="allproject__section">
    <div class="allproject__container">
        <div class="back__btn" (click)="onProject()">Back</div>
        <div class="project__title">All Projects</div>
        <div class="projects__cards">
            <!-- 1st Row -->
            <div class="project__grid">
               <!-- Project One -->
                <div class="project__mid">
                  <div class="project__mid__bottomm"></div>
                  <div class="project__mid__top">
                   <div class="mid__top">
                     <!-- <div class="project__number">01</div> -->
                     <div class="project__heading">Vaccination Appointment Platform</div>
                   </div>
                   <div class="project__text">
                     The Certified Transformational Leadership Training is an intensive
                     program designed to equip current and aspiring leaders with the
                     skills, knowledge.
                   </div>
                   <div class="btn__link">
                     <div class="link__one">
                       <a target="_blank" href="https://menofissacharvision.com/mli">
                         Live Preview
                       </a>
                     </div>
                     <!-- <div class="link__two">Case Study</div> -->
                   </div>
                 </div>
               </div>
               <!-- Project Two -->
               <div class="project__mid">
                 <div class="project__mid__bottomm"></div>
                 <div class="project__mid__top">
                   <div class="mid__top">
                     <!-- <div class="project__number">02</div> -->
                     <div class="project__heading">Custom Wedding Website</div>
                   </div>
                   <div class="project__text">
                     This case study explores the creation of a bespoke wedding website
                     designed to capture the unique love story of Rebecca & Ayokanmi. 
                   </div>
                   <div class="btn__link">
                     <div class="link__one">
                       <a target="_blank" href="https://www.special24.com.ng/">
                         Live Preview
                       </a>
                     </div>
                     <div class="link__two">Case Study</div>
                   </div>
                 </div>
               </div>
                <!-- Project Three -->
                <div class="project__mid">
                    <div class="project__mid__bottomm"></div>
                    <div class="project__mid__top">
                      <div class="mid__top">
                        <!-- <div class="project__number">02</div> -->
                        <div class="project__heading">Custom Wedding Website</div>
                      </div>
                      <div class="project__text">
                        This case study explores the creation of a bespoke wedding website
                        designed to capture the unique love story of Rebecca & Ayokanmi. 
                      </div>
                      <div class="btn__link">
                        <div class="link__one">
                          <a target="_blank" href="https://www.special24.com.ng/">
                            Live Preview
                          </a>
                        </div>
                        <div class="link__two">Case Study</div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- 2nd Row -->
            <div class="project__grid">
                <!-- Project One -->
                 <div class="project__mid">
                   <div class="project__mid__bottomm"></div>
                   <div class="project__mid__top">
                    <div class="mid__top">
                      <!-- <div class="project__number">01</div> -->
                      <div class="project__heading">Vaccination Appointment Platform</div>
                    </div>
                    <div class="project__text">
                      The Certified Transformational Leadership Training is an intensive
                      program designed to equip current and aspiring leaders with the
                      skills, knowledge.
                    </div>
                    <div class="btn__link">
                      <div class="link__one">
                        <a target="_blank" href="https://menofissacharvision.com/mli">
                          Live Preview
                        </a>
                      </div>
                      <!-- <div class="link__two">Case Study</div> -->
                    </div>
                  </div>
                </div>
                <!-- Project Two -->
                <div class="project__mid">
                  <div class="project__mid__bottomm"></div>
                  <div class="project__mid__top">
                    <div class="mid__top">
                      <!-- <div class="project__number">02</div> -->
                      <div class="project__heading">Custom Wedding Website</div>
                    </div>
                    <div class="project__text">
                      This case study explores the creation of a bespoke wedding website
                      designed to capture the unique love story of Rebecca & Ayokanmi. 
                    </div>
                    <div class="btn__link">
                      <div class="link__one">
                        <a target="_blank" href="https://www.special24.com.ng/">
                          Live Preview
                        </a>
                      </div>
                      <div class="link__two">Case Study</div>
                    </div>
                  </div>
                </div>
                 <!-- Project Three -->
                 <div class="project__mid">
                     <div class="project__mid__bottomm"></div>
                     <div class="project__mid__top">
                       <div class="mid__top">
                         <!-- <div class="project__number">02</div> -->
                         <div class="project__heading">Custom Wedding Website</div>
                       </div>
                       <div class="project__text">
                         This case study explores the creation of a bespoke wedding website
                         designed to capture the unique love story of Rebecca & Ayokanmi. 
                       </div>
                       <div class="btn__link">
                         <div class="link__one">
                           <a target="_blank" href="https://www.special24.com.ng/">
                             Live Preview
                           </a>
                         </div>
                         <div class="link__two">Case Study</div>
                       </div>
                     </div>
                 </div>
            </div>
               <!-- 3rd Row -->
            <div class="project__grid">
                <!-- Project One -->
                 <div class="project__mid">
                   <div class="project__mid__bottomm"></div>
                   <div class="project__mid__top">
                    <div class="mid__top">
                      <!-- <div class="project__number">01</div> -->
                      <div class="project__heading">Vaccination Appointment Platform</div>
                    </div>
                    <div class="project__text">
                      The Certified Transformational Leadership Training is an intensive
                      program designed to equip current and aspiring leaders with the
                      skills, knowledge.
                    </div>
                    <div class="btn__link">
                      <div class="link__one">
                        <a target="_blank" href="https://menofissacharvision.com/mli">
                          Live Preview
                        </a>
                      </div>
                      <!-- <div class="link__two">Case Study</div> -->
                    </div>
                  </div>
                </div>
                <!-- Project Two -->
                <div class="project__mid">
                  <div class="project__mid__bottomm"></div>
                  <div class="project__mid__top">
                    <div class="mid__top">
                      <!-- <div class="project__number">02</div> -->
                      <div class="project__heading">Custom Wedding Website</div>
                    </div>
                    <div class="project__text">
                      This case study explores the creation of a bespoke wedding website
                      designed to capture the unique love story of Rebecca & Ayokanmi. 
                    </div>
                    <div class="btn__link">
                      <div class="link__one">
                        <a target="_blank" href="https://www.special24.com.ng/">
                          Live Preview
                        </a>
                      </div>
                      <div class="link__two">Case Study</div>
                    </div>
                  </div>
                </div>
                 <!-- Project Three -->
                 <div class="project__mid">
                     <div class="project__mid__bottomm"></div>
                     <div class="project__mid__top">
                       <div class="mid__top">
                         <!-- <div class="project__number">02</div> -->
                         <div class="project__heading">Custom Wedding Website</div>
                       </div>
                       <div class="project__text">
                         This case study explores the creation of a bespoke wedding website
                         designed to capture the unique love story of Rebecca & Ayokanmi. 
                       </div>
                       <div class="btn__link">
                         <div class="link__one">
                           <a target="_blank" href="https://www.special24.com.ng/">
                             Live Preview
                           </a>
                         </div>
                         <div class="link__two">Case Study</div>
                       </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>