.resume__container{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.resume__section{
    height: 100vh;
}
.resume__body{
    width: 70%;
    margin: auto;
    height: 250vh;
    background: url(../../asset/sume.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -2px -1px 103px 0px rgba(0,0,0,0.32);
-webkit-box-shadow: -2px -1px 103px 0px rgba(0,0,0,0.32);
-moz-box-shadow: -2px -1px 103px 0px rgba(0,0,0,0.32);
    
}
.resume__body img{
    height: 100vh;
    object-fit: cover;
    
}
.resume__title{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: var(--blue);
}
.back__btn{
    width: 100px;
    height: 48px;
    color: var(--black);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 24px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    margin-top: 34px;
  }
  .back__btn:hover {
    background: var(--blue);
    color: white;
    cursor: pointer;
  }