<div class="resume">
  <div class="nav__bar">
    <ul>
      <li class="home" (click)="onHome()">Home</li>
      <li class="about" (click)="onConnect()">About</li>
      <!-- <li class="expertise" (click)="onExpertise()" >Expertise</li> -->
      <li class="project" (click)="onProject()">Projects</li>
      <li class="resume" (click)="onResume()">Resume</li>
      <li class="contact" (click)="onContact()">Contact Me</li>
    </ul>
  </div>
  <div class="resume__container">
    <div class="resume__wrapper">
      <img src="../../asset/resume.png" alt="" style="height: 200vh" />
    </div>
  </div>
</div>
