.resume {
  background: #000;
  height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.resume__wrapper img {
  height: 100%;
}
.nav__bar {
  height: auto;
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -webkit-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -moz-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  /* align-items: center; */
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #c4c4c4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}
