.about__section {
    height: 100%;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__container {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .nav__bar {
    background: white;
    padding: 20px 32px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    position: fixed;
  }
  .about__card {
    background: #181717;
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
    margin-top: 10%;
  }
  .about__cardd {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
    /* background: yellow; */
  }
  .about__title {
    font-size: 24px;
    font-weight: 300;
    color: #565454;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 10px;
  }
  .description {
    font-size: 50px;
    color: #efefef;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 108%;
  }
  .about__cardContainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 55px;
  }
  .about__top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
  }
  .about__bottom {
    width: 100%;
    height: 260px;
    background: var(--gold);
    padding-left: 42px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .about {
    color: var(--gold) !important;
  }
  .experience {
    font-size: 34px;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    color: var(--red);
  }
  .exp__text {
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 155%;
    color: var(--red);
  }
  .about__cardCont {
    width: 80%;
    margin: auto;
  }
  .skill__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .skill__list p {
    font-size: 46px;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    color: #a3a3a3;
  }
  .skill__title {
    font-size: 80px;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #f8f8f8;
    padding-bottom: 10px;
  }
  .prod {
    color: #6e6e73;
  }
  .inter {
    font-size: 24px;
    color: #4c4453;
  }
  ul {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  
  ul li {
    list-style: none;
    color: var(--black);
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  ul li:hover {
    cursor: pointer;
    color: var(--gold);
  }
  .expertise{
    width: 100vw;
  }
  