<div class="about__section">
    <div class="about__container">
      <div class="nav__bar">
        <ul>
          <li class="home" (click)="onHome()">Home</li>
          <li class="about" (click)="onConnect()" >About</li>
          <!-- <li class="expertise" (click)="onExpertise()" >Expertise</li> -->
          <li class="project" (click)="onProject()" >Projects</li>
          <li class="resume" (click)="onResume()" >Resume</li>
          <li class="contact">Contact Me</li>
        </ul>
      </div>
      <div class="about__card">
        <div class="about__cardContainer">
          <div class="about__top">
            <p class="about__title">About Me</p>
            <p class="description">
              Hello there! I am a passionate and innovative Product Designer with
              a keen eye for aesthetics and a strong commitment to creating
              visually captivating and user-friendly designs.
              <span class="prod">
                With a background in Product Design, I bring a unique blend of
                creativity and technical expertise to every project I
                undertake.</span
              >
            </p>
          </div>
          <div class="about__bottom">
            <p class="experience">Experience</p>
            <p class="exp__text">
              Abba and King Systems LLC <br />
              3years Experience <br />
              2021 - present
            </p>
          </div>
        </div>
      </div>
      <div class="about__cardd">
        <div class="about__cardCont">
          <p class="skill__title">Skills</p>
          <div class="skill__list">
            <p>👋 Visual Design</p>
            <p>👋 Prototyping</p>
            <p>👋 UI Design Tools</p>
            <p>👋 A/B Testing</p>
            <p>👋 Information Architecture</p>
            <p>👋 Responsive Design</p>
            <p>👋 Accessibility</p>
            <p>👋 Design Trends</p>
            <p>👋 User Research & Empathy</p>
            <p>👋 User Persona Development</p>
            <p>👋 Communication & Collaboration</p>
            <p>👋 Usability Testing</p>
            <p>
              👋 Front-End Development
              <span class="inter">(Intermediate-level)</span>
            </p>
            <p>👋 Content Strategy</p>
            <p>👋 Wireframing & User Flowcharts</p>
          </div>
        </div>
      </div>
      <div class="expertise">
        <app-expert></app-expert>
      </div>
    </div>
  </div>
  