/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --gold: #3827c7;
  --blue: #3827c7;
  --light-blue: #c0baef;
  /* --gold: #d3f350; */
  --black: #1a1a1a;
  --white: #fafef7;
}

/* Modular scale font sizes */
.h1 {
  font-size: 2.5rem; /* 40px (Based on scale, could also be 2.25rem or 2.625rem based on scale chosen) */
  font-weight: 700; /* Bold font */
  margin: 0.5em 0;
}

.h2 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  margin: 0.5em 0;
}

.h3 {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
  margin: 0.5em 0;
}

.h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  margin: 0.5em 0;
}

.h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  margin: 0.5em 0;
}

.h6 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  margin: 0.5em 0;
}

/* Paragraph and text elements */
.p {
  font-size: 1rem; /* 16px */
  margin-bottom: 1.5em; /* Add spacing between paragraphs */
}

.small {
  font-size: 0.875rem; /* 14px for fine print */
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

/* Utility Classes for additional text styles */
.text-xs {
  font-size: 0.75rem; /* 12px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
}

/* FullProject CSS */

.body {
  height: 100%;
}
om-dotpattern {
  overflow: hidden;
  width: 95%;
  margin: auto;
}
a {
  font-family: "Archivo", sans-serif;
  color: #a3a3a3;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  height: 100%;
  background: #0a0a0a;
  /* padding: 16px 0; */
  border-right: 0.2px solid rgb(32, 32, 23);
  display: flex;
  align-items: flex-start;
  gap: 40px;
  /* margin-left: 16px; */
}

.header__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 8px;
}

.mid__nav li {
  font-family: "Archivo", sans-serif;
  color: #a3a3a3;
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
  list-style: none;
}

.btn {
  width: 120px;
  height: 36px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.hero {
  overflow: hidden;
  height: 100vh;
  background: url(././asset/portlanding.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: #0a0a0a; */
  display: grid;
  grid-template-columns: repeat(2, 15% 85%);
}

.hero__container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.name {
  font-size: 32px;
  color: #9587ff;
  padding: 12px 12px;
  border-radius: 100px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
}

.port__desc {
  font-size: 16px;
  width: 100%;
  color: #dcf2d2;
  border-radius: 100px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  line-height: 180%;
}

.mobile__header {
  display: none;
}
.hero__cardd {
  margin-top: 466px;
  margin-left: -180px;
  padding: 24px 16px;
  /* height: 180px; */
  width: 400px;
  background: #040404;
  border-radius: 24px;
  backdrop-filter: blur(20px);
  z-index: 0;
}

.coursename {
  font-size: 98px;
  color: #f8f8f8;
  line-height: 90%;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-align: left;
}

.hero__btn {
  font-size: 16px;
  color: #6c5ed6;
  transform: 5s;
}

.hero__btn:hover {
  color: var(--blue);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: 5s;
}

.hero__cardTwo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 90%;
  margin: auto;
}

.logo {
  color: white;
}

.about {
  /* color: #e4f51f; */
  color: var(--blue);
}

.about:hover,
.expertise:hover,
.project:hover,
.resume:hover,
.contact:hover {
  color: #9587ff !important;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 820px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .port__desc {
    font-size: 19px;
  }
  .hero__cardd {
    margin-top: 626px;
    margin-left: -250px;
    padding: 16px;
    height: 270px;
    width: 400px;
    background: #0d0b0b;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .mid__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }

  .header {
    height: 100px;
  }

  .name {
    font-size: 45px;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
  }

  .about,
  .project,
  .expert,
  .resume,
  .contact {
    font-size: 16px !important;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .proj__desc .hero__cardd {
    padding: 16px;
    height: 276px;
  }

  .port__desc {
    font-size: 19px;
  }
  .hero__cardd {
    margin-top: 536px;
    margin-left: -250px;
    padding: 16px;
    height: 270px;
    width: 400px;
    background: #0d0b0b;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0);
    transition: all ease-in-out 250ms;
  }
  .mobile__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0);
    transition: all ease-in-out 250ms;
  }
  p {
    font-size: 84px;
  }
  .header__container {
    display: none;
  }
  .name {
    font-size: 24px;
  }
}
/* Full Project Ends */

/* Projbody */
.project__section {
  background: var(--black);
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.nav__bar {
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  z-index: 999;
  box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -webkit-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -moz-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  transition: all 0.3s ease-in-out;
}
.project {
  color: #141414 !important;
  font-weight: 600;
  background: #f9f9f9;
  padding: 12px 18px;
  border-radius: 100px;
}
.project__container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.project__title {
  font-family: "Archivo", sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.project__description {
  font-family: "Archivo", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #f8f8f8;
  width: 80%;
  margin: auto;
  line-height: 100%;
  text-align: center;
}
.project__paragraph {
  width: 50%;
  font-size: 24px;
  margin: auto;
  color: #c0baef;
  text-align: center;
  font-weight: 200;
  line-height: 135%;
}
.project__text {
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #6e6e73;
  width: 100%;
  line-height: 165%;
}
.project__top {
  height: 100%;
  background: #181717;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 40px;
  /* padding-top: 140px; */
  margin-top: 30px;
}
.project__hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  height: 100%;
  margin-top: 7%;
}
.project__mid__bottom {
  height: 400px;
  width: 100%;
  background: url(././asset/mli1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}
.project__mid__bottomm {
  height: 400px;
  width: 100%;
  background: url(././asset/proj__one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}
.project__mid__bottomTwo {
  height: 400px;
  width: 100%;
  background: url(././asset/special24.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}
.mid__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.view__btn {
  height: 48px;
  color: var(--gold);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 100px;
}
.view__btn:hover {
  background: var(--blue);
  color: white;
  cursor: pointer;
}
.view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__number {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #6e6e73;
}
span {
  color: #6e6e73;
}
.project__heading {
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  color: #efefef;
  font-weight: 400;
}
.project__mid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 80px;
}
.project__mid__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.btn__link {
  display: flex;
  gap: 15px;
}
.link__one a {
  font-size: 16px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}
.link__one a:hover {
  color: var(--gold);
  cursor: pointer;
}
.link__two {
  font-size: 16px;
  color: white;
  font-weight: 100;
}
.link__two:hover {
  color: var(--gold);
  cursor: pointer;
}
hr {
  color: aliceblue;
  width: 100%;
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #c4c4c4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}

/* marquee */
.marquee-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.marquee-gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33%;

  &.left {
    left: 0;
    background-image: linear-gradient(to right, black, transparent);
  }

  &.right {
    right: 0;
    background-image: linear-gradient(to left, black, transparent);
  }
}

.project__cover1 {
  color: purple;
}
.card1 {
  height: 500px;
  width: 750px;
  background: url(././asset/fastest\ delivery.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1:hover {
  background: #141414 0.5;
}

.card1:hover::before {
  opacity: 1; /* Shows the dark overlay on hover */
}
.card2 {
  height: 100%;
  width: 750px;
  background: url(././asset/card2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card3 {
  height: 100%;
  width: 750px;
  background: url(././asset/card3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card4 {
  height: 100%;
  width: 750px;
  background: url(././asset/IVIS.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card5 {
  height: 500px;
  width: 750px;
  background: url(././asset/card4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card6 {
  height: 100%;
  width: 850px;
  background: url(././asset/natureHub.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card7 {
  height: 100%;
  width: 750px;
  background: url(././asset/card7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card8 {
  height: 100%;
  width: 750px;
  background: url(././asset/card8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card9 {
  height: 100%;
  width: 750px;
  background: url(././asset/kooplify.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* projbody  */
.contact-container {
  /* max-width: 600px; */
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 30px;
  /* background-color: #1d1d1d; */
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.contact__section {
  height: 100vh;
  width: 100vw;
  background-color: #1d1d1d;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #ff6f61;
}

header p {
  font-size: 1.1rem;
  color: #b0b0b0;
  margin-bottom: 25px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 150px;
  padding: 12px 0;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: 200;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-method i {
  font-size: 24px;
  margin-right: 15px;
}

.contact-method:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.contact-method span {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.whatsapp {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.email {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.linkedin {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

/* Copied css from about section */

.about__section {
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__container {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.nav__bar {
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -webkit-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -moz-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
}
.about__card {
  background: #181717;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  margin-top: 10%;
}
.about__cardd {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  /* background: yellow; */
}
.about__title {
  font-size: 64px;
  font-weight: 500;
  color: #565454;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  padding-bottom: 10px;
}
.description {
  font-size: 50px;
  color: #efefef;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 108%;
}
.about__cardContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /* padding-top: 55px; */
}
.about__bottomcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}
.about__bottom {
  width: 100%;
  height: 450px;
  background: #3827c7;
  /* padding-left: 42px;
    padding-top: 56px; */
  padding: 32px 72px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact {
  color: var(--black) !important;
  font-weight: 600;
  background: #f9f9f9;
  padding: 12px 18px;
  border-radius: 100px;
}
.experience {
  font-size: 34px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: var(--white);
  padding-bottom: 10px;
}
.exp__text {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: var(--white);
}
.about__cardCont {
  width: 80%;
  margin: auto;
}
.skill__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.skill__list p {
  font-size: 30px;
  font-weight: 200;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #a3a3a3;
}
hr {
  color: #6e6e73 !important;
  opacity: 0.1;
}
.skill__title {
  font-size: 54px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #6e6e73;
  padding-bottom: 30px;
}
.prod {
  color: #6e6e73;
  font-weight: 300;
}
.inter {
  font-size: 24px;
  color: #4c4453;
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #c4c4c4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}
.expertise {
  width: 100vw;
}

/* Responsive design */
@media (min-width: 768px) {
  .contact-methods {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* projbody End */

/* contact Start */
.contact-container {
  /* max-width: 600px; */
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 30px;
  /* background-color: #1d1d1d; */
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.contact__section {
  height: 100vh;
  width: 100vw;
  background-color: #1d1d1d;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #ff6f61;
}

header p {
  font-size: 1.1rem;
  color: #b0b0b0;
  margin-bottom: 25px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 150px;
  padding: 12px 0;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: 200;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-method i {
  font-size: 24px;
  margin-right: 15px;
}

.contact-method:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.contact-method span {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.whatsapp {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.email {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.linkedin {
  background-color: #2850dd;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

/* Copied css from about section */

.about__section {
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__container {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.nav__bar {
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -webkit-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -moz-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
}
.about__card {
  background: #181717;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  margin-top: 10%;
}
.about__cardd {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  /* background: yellow; */
}
.about__title {
  font-size: 64px;
  font-weight: 500;
  color: #565454;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  padding-bottom: 10px;
}
.description {
  font-size: 50px;
  color: #efefef;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 108%;
}
.about__cardContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /* padding-top: 55px; */
}
.about__bottomcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}
.about__bottom {
  width: 100%;
  height: 450px;
  background: #3827c7;
  /* padding-left: 42px;
    padding-top: 56px; */
  padding: 32px 72px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact {
  color: var(--black) !important;
  font-weight: 600;
  background: #f9f9f9;
  padding: 12px 18px;
  border-radius: 100px;
}
.experience {
  font-size: 34px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: var(--white);
  padding-bottom: 10px;
}
.exp__text {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: var(--white);
}
.about__cardCont {
  width: 80%;
  margin: auto;
}
.skill__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.skill__list p {
  font-size: 30px;
  font-weight: 200;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #a3a3a3;
}
hr {
  color: #6e6e73 !important;
  opacity: 0.1;
}
.skill__title {
  font-size: 54px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #6e6e73;
  padding-bottom: 30px;
}
.prod {
  color: #6e6e73;
  font-weight: 300;
}
.inter {
  font-size: 24px;
  color: #4c4453;
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #c4c4c4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}
.expertise {
  width: 100vw;
}

/* Responsive design */
@media (min-width: 768px) {
  .contact-methods {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*Contact Ends*/

/* profile starts*/
.about__section {
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__container {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.nav__bar {
  background: #141414;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  position: fixed;
  box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -webkit-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
  -moz-box-shadow: -7px -6px 244px 5px rgba(31, 27, 202, 0.75);
}
.about__card {
  background: #181717;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  margin-top: 10%;
}
.about__cardd {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  /* background: yellow; */
}
.about__title {
  font-size: 24px;
  font-weight: 300;
  color: #565454;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  padding-bottom: 10px;
}
.description {
  font-size: 50px;
  color: #efefef;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 108%;
}
.about__cardContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /* padding-top: 55px; */
}
.about__bottomcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}
.about__bottom {
  width: 100%;
  height: 450px;
  background: #3827c7;
  /* padding-left: 42px;
    padding-top: 56px; */
  padding: 32px 72px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.about {
  color: var(--black) !important;
  font-weight: 600;
  background: #f9f9f9;
  padding: 12px 18px;
  border-radius: 100px;
}
.experience {
  font-size: 34px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: var(--white);
  padding-bottom: 14px;
}
.exp__text {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 150%;
  color: var(--white);
}
.about__cardCont {
  width: 80%;
  margin: auto;
}
.skill__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.skill__list p {
  font-size: 30px;
  font-weight: 200;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #a3a3a3;
}
hr {
  color: #6e6e73 !important;
  opacity: 0.1;
}
.skill__title {
  font-size: 54px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #6e6e73;
  padding-bottom: 30px;
}
.prod {
  color: #6e6e73;
}
.inter {
  font-size: 24px;
  color: #9587ff !important;
}
ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

ul li {
  list-style: none;
  color: #c4c4c4;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul li:hover {
  cursor: pointer;
  color: #9587ff !important;
}
.expertise {
  width: 100vw;
}
/* profile Ends */
